{{define "base"}}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Richard Justke</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

  <header>
    <nav>
      <a href="/" class="nav-name">rj</a>
      <div class="nav-links">
        <a href="/writing">writing</a>
      </div>
    </nav>
  </header>

  <main>
    {{template "content" .}}
  </main>

  <script src="/static/js/main.js"></script>
</body>
</html>
{{end}}
